@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-workSans: 'Work Sans', sans-serif;
  --font-playFair: 'Playfair Display', serif;
  --color-primary: #131313;
  --color-secondary: #23be0a;
}
